{% extends 'novel/base.html' %}
{% block content %}
{% load static %}

	<section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'images/novel-5.jpg' %}');">
		<div class="overlay"></div>
		<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
			<h1 class="mb-2 bread">About Us</h1>
			<p class="breadcrumbs"><span class="mr-2"><a href="{% url 'novel:home' %}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About us <i class="ion-ios-arrow-forward"></i></span></p>
			</div>
		</div>
		</div>
	</section>
		
		<section class="ftco-section ftco-no-pt ftc-no-pb">
			<div class="container">
				<div class="row">
					<div class="col-md-5 order-md-last wrap-about py-5 wrap-about bg-light">
						<div class="text px-4 ftco-animate">
				<h2 class="mb-4">------</h2>
				<p> 
							also offers daycare (for 3 months) and afterschool (for students 3-12 years) who may not be our students. 
							As an international school of choice, Novel Academy prides itself on excellence in academic and extracurricular activities.
							If you are a prospective parent of student, please contact Novel Academy to arrange a tour of the school.</p>
						</div>
					</div>
					<div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">
			<h2 class="mb-4">Welcome to Novel Academy </h2>
						
							<p>Welcome to the Novel Academy website which provides a snapshot of what Novel Academy is all about. It will also keep you informed about our busy, and exciting academic calendar and program.</p>
							<p>Novel Academy is a family school, which aims to be the international school of choice. As a hybrid school, In Novel Academy our programs are designed to provide students with the mastery of the fundamental concepts necessary for achievement in each academic subject area. Novel Academy offers the GES and the British curriculum Programme for preschool to Grades School in a residential school environment at the Campus Adjacent AdomCity Estate Community 26. Novel Academy</p>
							
						
					</div>
				</div>
			</div>
		</section>
		<section class="ftco-section ftco-no-pb">
			<div class="container">
				<div class="row justify-content-center mb-5 pb-2">
			<div class="col-md-8 text-center heading-section ftco-animate">
			<h2 class="mb-4"><span>MISSION</span></h2>
			<p>To champion a new way of learning that prepares minds, transform hearts and develops the spirit of inquiry in all our students as basic tool for encouraging critical thinking and powering hands to impact the society.</p>
			</div>
			</div>
		</div>	
		</section>
		<section class="ftco-section ftco-no-pb">
			<div class="container">
				<div class="row justify-content-center mb-5 pb-2">
			<div class="col-md-8 text-center heading-section ftco-animate">
			<h2 class="mb-4"><span>VISION</span></h2>
			<p>To build a tradition of excellence and Godliness in our students, that integrates academic achievements and principles of integrity to enhance the transformation of Ghana, Africa and the world at large.</p>
			</div>
			</div>
		</div>	
		</section>
		<section class="ftco-section ftco-no-pb">
			<div class="container">
				<div class="row justify-content-center mb-5 pb-2">
			<div class="col-md-8 text-center heading-section ftco-animate">
			<h2 class="mb-4"><span>CLASSES</span></h2>
			<p>We have a small classroom concept with a maximum intake of 15 learners per class. An enabling environment is created for our Novatores to extend their existing skills and develop confidence through computer training, developing reading and writing skills, knowledge of basic mathematics, and provoke the power of imagination and innovation. The broad curricula for these units are centered on the following guidelines: </p>
				<ul>
					<li> Communication, Language proficiency and Literacy </li>
					<li> Personal, Social and Emotional Development </li>
					<li> Physical Development</li>
					<li> Creativity and innovation</li>
					<li> Mathematics and critical thinking</li>
					<li> Knowledge and Understanding of the World.</li>
				</ul>
			</div>
			</div>
		</div>	
		</section>
		<section class="ftco-section ftco-no-pb">
			<div class="container">
				<div class="row justify-content-center mb-5 pb-2">
			<div class="col-md-8 text-center heading-section ftco-animate">
			<h2 class="mb-4"><span>Objectives</span></h2>
			<ul>
				<li> To provide quality but affordable education to all</li>
				<li> To develop students spiritually, mentally, physically and skillfully for great leadership and development.</li>
				<li> To encourage and develop cooperation and team work</li>
				<li> To impact the now and next generation positively with the gospel of Jesus Christ</li>
			</ul>
			<p> 
				To give hope to the special and challenged children without discrimination</p>
			</div>
			</div>
		</div>	
		</section>

		<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url({% static 'images/bg_4.jpg' %});" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-2">
			<div class="col-md-8 text-center heading-section heading-section-black ftco-animate">
			<h2 class="mb-4"><span>Years of </span> Experience</h2>
			<p>To build a tradition of excellence and Godliness in our students, that integrates academic achievements and principles of integrity to enhance the transformation of Ghana, Africa and the world at large</p>
			</div>
		</div>	
			<div class="row d-md-flex align-items-center justify-content-center">
				<div class="col-lg-10">
					<div class="row d-md-flex align-items-center">
					<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
					<div class="block-18">
						<div class="icon"><span class="flaticon-doctor"></span></div>
						<div class="text">
						<strong class="number" data-number="18">0</strong>
						<span>Certified Teachers</span>
						</div>
					</div>
					</div>
					<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
					<div class="block-18">
						<div class="icon"><span class="flaticon-doctor"></span></div>
						<div class="text">
						<strong class="number" data-number="351">0</strong>
						<span>Successful Kids</span>
						</div>
					</div>
					</div>
					<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
					<div class="block-18">
						<div class="icon"><span class="flaticon-doctor"></span></div>
						<div class="text">
						<strong class="number" data-number="564">0</strong>
						<span>Happy Parents</span>
						</div>
					</div>
					</div>
					<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
					<div class="block-18">
						<div class="icon"><span class="flaticon-doctor"></span></div>
						<div class="text">
						<strong class="number" data-number="300">0</strong>
						<span>Awards Won</span>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</section>
	{% include 'novel/footer.html' %}
	{% endblock content %}