{% extends 'novel/base.html' %}
{% block content %}
{% load static %}

        <section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'images/bg_2.jpg' %}');">
            <div class="overlay"></div>
                <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-center">
                    <div class="col-md-9 ftco-animate text-center">
                    <h1 class="mb-2 bread">Gallery</h1>
                    <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>About us <i class="ion-ios-arrow-forward"></i></span></p>
                    </div>
                </div>
            </div>
        </section>
		<section class="ftco-gallery">
		<div class="container-wrap">
			<div class="row no-gutters">
				{% for gallery in gallery_list %}
					<div class="col-md-3 ftco-animate">
						<a href="{{ gallery.image.url }}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({{ gallery.image.url }});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
							<span class="icon-instagram"></span>
						</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="{{ gallery.image2.url }}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({{ gallery.image2.url }});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
							<span class="icon-instagram"></span>
						</div>
						</a>
					</div>
					{% endfor %}
		        </div>
		    </div>
	</section>
	{% include 'novel/footer.html' %}

	{% endblock content %}