{% extends 'novel/base.html' %}
{% block content %}
{% load static %}

	<section class="home-slider slick-slider owl-carousel">
		<div class="slider-item" style="background-image:url({% static 'images/novel-33.jpg' %});">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
			<div class="col-md-8 text-center ftco-animate">
			<h1 class="mb-4">Welcome to <span>Novel Academy</span></h1>
			</div>
		</div>
		</div>
		</div>

		<div class="slider-item" style="background-image:url({% static 'images/novel-40.jpg' %});">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
			<div class="col-md-8 text-center ftco-animate">
			<h1 class="mb-4">Perfect School<span> For Your Child</span></h1>

			</div>
		</div>
		</div>
		</div>
	</section>

	<section class="ftco-services ftco-no-pb">
			<div class="container-wrap">
				<div class="row no-gutters">
			<div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-primary">
			<div class="media block-6 d-block text-center">
				<div class="icon d-flex justify-content-center align-items-center">
					<span class="flaticon-teacher"></span>
				</div>
				<div class="media-body p-2 mt-3">
				<h3 class="heading">Certified Teachers</h3>
				<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
				</div>
			</div>      
			</div>
			<div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-tertiary">
			<div class="media block-6 d-block text-center">
				<div class="icon d-flex justify-content-center align-items-center">
					<span class="flaticon-reading"></span>
				</div>
				<div class="media-body p-2 mt-3">
				<h3 class="heading">Special Education</h3>
				<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
				</div>
			</div>    
			</div>
			<div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-fifth">
			<div class="media block-6 d-block text-center">
				<div class="icon d-flex justify-content-center align-items-center">
					<span class="flaticon-books"></span>
				</div>
				<div class="media-body p-2 mt-3">
				<h3 class="heading">Book &amp; Library</h3>
				<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
				</div>
			</div>      
			</div>
			<div class="col-md-3 d-flex services align-self-stretch pb-4 px-4 ftco-animate bg-quarternary">
			<div class="media block-6 d-block text-center">
				<div class="icon d-flex justify-content-center align-items-center">
					<span class="flaticon-diploma"></span>
				</div>
				<div class="media-body p-2 mt-3">
				<h3 class="heading">Certification</h3>
				<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
				</div>
			</div>      
			</div>
		</div>
			</div>
		</section>
		
		<section class="ftco-section ftco-no-pt ftc-no-pb">
			<div class="container">
				<div class="row">
					<div class="col-md-5 order-md-last wrap-about py-5 wrap-about bg-light">
						<div class="text px-4 ftco-animate">
							<h2 class="mb-4">Welcome to Novel Academy</h2>
							<p>Welcome to the Novel Academy website which provides a snapshot of what Novel Academy is all about. It will also keep you informed about our busy, and exciting academic calendar and program.</p>
							<div class="form-group ml-md-4">
								<p class="mb-0"><a href="{% url 'novel:about' %}" class="btn btn-secondary px-4 py-3">more</a></p>
							</div>
						</div>
					</div>
					<div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">
			<h2 class="mb-4">What We Offer</h2>
						<p></p>
						<div class="row mt-5">
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-security"></span></div>
									<div class="text">
										<h3>Safety First</h3>
										<p>Your child's safty is Priority.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-reading"></span></div>
									<div class="text">
										<h3>Regular Classes</h3>
										<p>Debates , Musical instruments etc.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-diploma"></span></div>
									<div class="text">
										<h3>Certified Teachers</h3>
										<p>We have Professional teachers to guide your children thorough their journey.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-education"></span></div>
									<div class="text">
										<h3>Sufficient Classrooms</h3>
										<p>We have a small classroom concept with a maximum intake of 15 learners per class.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-jigsaw"></span></div>
									<div class="text">
										<h3>Creative Lessons</h3>
										<p>Creative Lessons, Arts & Crafts and Science etc.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="services-2 d-flex">
									<div class="icon mt-2 mr-3 d-flex justify-content-center align-items-center"><span class="flaticon-kids"></span></div>
									<div class="text">
										<h3>Sports Facilities</h3>
										<p>We also have Sports Facilities.</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
									<div class="form-group ml-md-4">
										<p class="mb-0"><a href="https://www.novelacademygh.medium.com" class="btn btn-secondary px-4 py-3">more</a></p>
									</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="ftco-intro" style="background-image: url({% static 'images/novel-5.jpg' %});" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-9">
						<h2>We have a small classroom concept with a maximum intake of 15 learners per class.</h2>
						<p class="mb-0">If you are a prospective parent of student, please contact Novel Academy to arrange a tour of the school</p>
					</div>
				</div>
			</div>
		</section>
		<section class="ftco-section ftco-no-pb">
			<div class="container">
				<div class="row justify-content-center mb-5 pb-2">
			<div class="col-md-8 text-center heading-section ftco-animate">
			<h2 class="mb-4"><span>Events </span>Calendar</h2>
			<p>There is always something happening at Novel Academy and different special events are held annually. I take this opportunity to invite you to join us at any of our special events that will occur during the year.</p>
			<p>N.B: Every Friday is a spelling bee day. All students are to partake in the bee.</p>
			</div>
		</div>	
				<div class="row">
					
					<iframe src="https://calendar.google.com/calendar/embed?height=500&wkst=1&bgcolor=%23ffffff&ctz=Africa%2FAbidjan&showTitle=0&src=c3VyZmFvcmdAZ21haWwuY29t&color=%23039BE5" style="border-width:0" width="1220" height="500" frameborder="0" scrolling="no"></iframe>
				</div>
			</div>
		</section>
		
		<section class="ftco-section ftco-no-pb">
			<div class="container">
				<div class="row justify-content-center mb-5 pb-2">
			<div class="col-md-8 text-center heading-section ftco-animate">
			<h2 class="mb-4"><span>Certified</span> Teachers</h2>
			<p>Meet Our Teachers</p>
			</div>
		</div>	
				<div class="row">
					{% for instructor in instructor_list %}
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url({{Instructor.image.url}});"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>{{ Instructor.name}}</h3>
								<span class="position mb-2">{{Instructor.title}}</span>
								<div class="faded">
									<p>{{Instructor.about}}</p>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</section>

		<section class="ftco-section ftco-counter img" id="section-counter" style="background-image: url({% static 'images/bg_4.jpg' %});" data-stellar-background-ratio="0.5">
		<div class="container">
			<div class="row justify-content-center mb-5 pb-2">
			<div class="col-md-8 text-center heading-section heading-section-black ftco-animate">
			<h2 class="mb-4"><span>Stay In </span> Touch</h2>
			<p>To stay in touch, our weekly broadcast can be found on our website as soon as they are published. Daily updates can also be found on our facebook and Instagram accounts.</p>
			</div>
		</div>	
			<div class="row d-md-flex align-items-center justify-content-center">
				<div class="col-lg-10">
					<div class="row d-md-flex align-items-center">
					<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
					<div class="block-18">
						<div class="icon"><span class="flaticon-doctor"></span></div>
						<div class="text">
						<strong class="number" data-number="18">0</strong>
						<span>Certified Teachers</span>
						</div>
					</div>
					</div>
					<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
					<div class="block-18">
						<div class="icon"><span class="flaticon-doctor"></span></div>
						<div class="text">
						<strong class="number" data-number="351">0</strong>
						<span>Successful Kids</span>
						</div>
					</div>
					</div>
					<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
					<div class="block-18">
						<div class="icon"><span class="flaticon-doctor"></span></div>
						<div class="text">
						<strong class="number" data-number="564">0</strong>
						<span>Happy Parents</span>
						</div>
					</div>
					</div>
					<div class="col-md d-flex justify-content-center counter-wrap ftco-animate">
					<div class="block-18">
						<div class="icon"><span class="flaticon-doctor"></span></div>
						<div class="text">
						<strong class="number" data-number="300">0</strong>
						<span>Awards Won</span>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</section>
		<section class="ftco-gallery">
		<div class="container-wrap">
			<div class="row no-gutters">
					<div class="col-md-3 ftco-animate">
						<a href="{% static 'images/novel-43.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'images/novel-43.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
							<span class="icon-instagram"></span>
						</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="{% static 'images/novel-42.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'images/novel-42.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
							<span class="icon-instagram"></span>
						</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="{% static 'images/novel-41.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'images/novel-41.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
							<span class="icon-instagram"></span>
						</div>
						</a>
					</div>
					<div class="col-md-3 ftco-animate">
						<a href="{% static 'images/novel-39.jpg' %}" class="gallery image-popup img d-flex align-items-center" style="background-image: url({% static 'images/novel-39.jpg' %});">
							<div class="icon mb-4 d-flex align-items-center justify-content-center">
							<span class="icon-instagram"></span>
						</div>
						</a>
					</div>
		</div>
		</div>
	</section>
	{% include 'novel/footer.html' %}

	{% endblock content %}